@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    animation: textshadowBreathe 1s infinite alternate ease-in-out;
}

body {
    height: 100%;
    width: 100%;
    background: #252525;
    overflow: hidden;
    color: ghostwhite;
}

a { text-decoration: none; }

.contact-me-top { 
    text-align: center; 
    margin-top: 50px; 
    text-shadow: 0px 0px 20px;
    animation: contactIn 4s cubic-bezier(0.84, 0.36, 0.17, 0.63);
}

@keyframes contactIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 150px;
        filter: blur(5px);
        -webkit-transform: translateX(-250px); 
    }
    100% {
        opacity: 1;
        text-shadow: 0px;
    }
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    opacity: 0;
    animation: formUp 4s ease; 
    animation-delay: 1s; 
    animation-fill-mode: forwards;
    background: rgba(0, 0, 0, 0.25);
    width: 50%;
    margin-left: 25%;
    border-radius: 24px;
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.473);
    transform: scale(0.75);
}

.contact-form-input { margin-top: 50px; }

@keyframes formUp {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 150px;
        filter: blur(5px);
        -webkit-transform: translateY(250px); 
    }
    100% {
        opacity: 1;
        text-shadow: 0px;
    }
}

input,
textarea {
    display: block;
    background: none;
    border: 0;
    border-bottom: 1.5px solid black;
    color: white;
    border-collapse: separate;
}


input { font-size: 16px; }
textarea { width: 175%; height: 100px;}

input,
textarea,
button { margin: 50px 0px; }

input::placeholder,
textarea::placeholder {
    color: grey;
    font-weight: bolder;

}

input:hover,
input:hover::placeholder,
textarea:hover,
textarea:hover::placeholder {
    background: #252525;
}

button {
    background: ghostwhite;
    color: #252525;
    border: 0;
    border-radius: 12px;
    height: 50px;
    width: 200px;
    font-weight: bolder;
    box-shadow: 0px 2px 7px ghostwhite; 
    cursor: pointer;
}

.return-to-index {
    text-shadow: 0px 0px 20px;
    opacity: 0%;
    animation: returnToIndex 4s cubic-bezier(0.84, 0.36, 0.17, 0.63);
    animation-delay: 3s;
    animation-fill-mode: forwards;
    text-align: center;
}
.return-to-index a { color: ghostwhite; }
.return-to-index:hover a { color: grey; cursor: pointer;}

@keyframes returnToIndex {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 150px;
        filter: blur(5px);
        -webkit-transform: translateX(-250px); 
    }
    100% {
        opacity: 1;
        text-shadow: 0px;
    }
}

@media screen and (max-width: 800px) {
    .contact-me-top { margin-top: 10%; }
    .contact-form {
        width: 100%;
        margin-left: 0;
    }
    textarea { width: 110%; }
    @keyframes contactIn {
        0% {
            opacity: 0;
            text-shadow: 0px 0px 150px;
            -webkit-transform: translateX(-250px); 
        }
        100% {
            opacity: 1;
            text-shadow: 0px;
        }
    }
    @keyframes formUp {
        0% {
            opacity: 0;
            text-shadow: 0px 0px 150px;
            translate: 0px 250px;
        }
        100% {
            opacity: 1;
            text-shadow: 0px;
        }
    }
    @keyframes returnToIndex {
        0% {
            opacity: 0;
            text-shadow: 0px 0px 150px;
            translate: -250px;
        }
        100% {
            opacity: 1;
            text-shadow: 0px;
        }
    }
}